# API Keys
# Add your API keys as required in your code

# Anthropic API Key: Create in https://console.anthropic.com/settings/keys
API_KEY_AHTHROPIC="sk-ant-api03-xxxxxxxxxxxxx"

# OCI parameters
# OCI Profile in file .oci/config
OCI_PROFILE="DEFAULT"
# Compartment where you deployed your resources
OCI_COMPARTMENT_OCID="ocid1.compartment.oc1..amaaaaaaahaxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Agent endpoints
# Global service endpoint (by region)
OCI_AGENTAI_SERVICE_ENDPOINT="https://agent-runtime.generativeai.eu-frankfurt-1.oci.oraclecloud.com"
# Your own agent endpoint (when deployed)
OCI_AGENTAI_AGENT_ENDPOINT="ocid1.genaiagentendpoint.oc1.eu-frankfurt-1.amaaaaaaahaxxxxxxxxxxxxxxxxxxxssxxxxxxxxxxxxxxxxxxx"

# Management endpoint (list, ...)
OCI_GENAI_MGT_ENDPOINT="https://generativeai.eu-frankfurt-1.oci.oraclecloud.com"

# GenAI Inference (chat, summarize, ...) in Frankfurt
OCI_GENAI_SERVICE_ENDPOINT="https://inference.generativeai.eu-frankfurt-1.oci.oraclecloud.com"
OCI_GENAI_MODEL_ID="cohere.command-latest"

# Application configurations
APP_LOGLEVEL="DEBUG"