# Antrhopic API Key
API_KEY_AHTHROPIC="sk-ant-api03-xxxxxxxxxxxxx"

# Antrhopic API Key
ANTHROPIC_API_KEY="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"

APP_LOGLEVEL="DEBUG"

# OCI parameters
OCI_PROFILE="DEFAULT"
# jose.albarran:test_genai
OCI_COMPARTMENT_OCID="ocid1.compartment.oc1..amaaaaaaahaxxxxxxxxxxxxxxxxxxxssxxxxxxxxxxxxxxxxxxx"

OCI_AGENTAI_SERVICE_ENDPOINT="https://agent-runtime.generativeai.eu-frankfurt-1.oci.oraclecloud.com"
OCI_AGENTAI_AGENT_ENDPOINT="ocid1.genaiagentendpoint.oc1.eu-frankfurt-1.amaaaaaaahaxxxxxxxxxxxxxxxxxxxssxxxxxxxxxxxxxxxxxxx"

# Management endpoint (list, ...)
OCI_GENAI_MGT_ENDPOINT="https://generativeai.eu-frankfurt-1.oci.oraclecloud.com"

# GenAI Inference (chat, summarize, ...) in Frankfurt
OCI_GENAI_SERVICE_ENDPOINT="https://inference.generativeai.eu-frankfurt-1.oci.oraclecloud.com"
OCI_GENAI_MODEL_ID="cohere.command-latest"

